.App {
  text-align: left;
  font-family: 'GangwonEdu_OTFBoldA';
}

a {
  padding-right: 20px;
}

button {
  margin: 10px;
  border-radius: 10px;
}

table{
  margin: 0px auto;
}

td{
  padding: 10px;
  border-bottom: 1px dotted black;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input{
    margin: 10px;
}

ol, u{
  text-align: left;
}