.authBlock {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #e2e2e2;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

.logo-area {
    font-size: 1.4rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.whiteBox {
    width: 360px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    padding: 2rem;
    background: white;
}

.authForm input {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-bottom: 0.5rem;
    outline: none;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 1rem;
}

.authForm input:focus {
    border-bottom: 1px solid #495057;
}

.authForm button {
    width:100%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    background: #101820;
    color: white;
    margin-top: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
}

.authForm button:hover {
    background: #F2AA4C;
}
.footer {
    margin-top: 2rem;
    text-align: right;
}

.footer a {
    text-decoration: underline;
    color: gray;
}

.footer a:hover {
    color: #bebebe;
}

.errorMessage {
    color: red;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.a{
    color: black;
    text-decoration-line: none;
    text-decoration:none 
}

a:hover { color:green;}